{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image">
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->

<!-- team -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "our_team" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- team category list -->
        <ul class="list-inline text-center filter-controls mb-5">
          <li class="list-inline-item m-3 text-uppercase active" data-filter="all">{{ i18n "all" }}</li>
          {{ $categories := slice }}
          {{ range .Data.Pages }}
          {{ $categories = $categories | append .Params.Hierarchy }}
          {{ end }}
          {{ range ( $categories | uniq ) }}
          <li class="list-inline-item m-3 text-uppercase" data-filter="{{ . | urlize }}">{{ . | humanize }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    <!-- team list -->
    <div class="row filtr-container">
      <!-- team -->
      {{ range .Data.Pages }}
      <div data-category="{{ .Params.Hierarchy | urlize }}" class="col-lg-4 col-sm-6 filtr-item">
        {{ .Render "about" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /team -->

{{ end }}